@tailwind base;
@tailwind components;
/* Write your utility classes here */
@tailwind utilities;

body {
  background-color: cornsilk;

  background-image: url("./logo.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
